body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.32;
    background: url(/img/home-page.png) no-repeat;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 56px;
}

.button{
    padding: 8px 32px;
    background-color: #ffff;
    color: #156963;
    font-weight: 700;
    font-size: 14px;
    transition: background-color 0.25s;
}

.button:hover{
    padding: 8px 32px;
    background-color: #156963;
    color: #ffff;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

@media(max-width: 600px){
    .wrapper{
        padding: 0 20px;
    }

    .main__container-wrapper{
        flex-direction: column;
        width: 100%;
    }

}

/* @media(max-width: 600px) {
    body {
        background: unset;
    }
} */