.advantage__boxes{
    display: flex;
}

.advantage__box{
    border: 1px solid #E0E0E0;
    padding: 16px 22px;
    margin-right: 32px;
    margin-bottom: 80px;
    transform: scale(1);
    transition: box-shadow, transform .35s;
}

.advantage__box:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.35);
}

.advantage__box:last-child{
    margin-right: 0;
}

.advantage__box-titel{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #156963;
}

.advantage__box-titel-img{
    margin-right: 16px;
}

.advantage__box-text{
    font-size: 10px;
    color: #2C1500;
}

.advantage__article{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 24px;
}

.advantage__article-text{
    font-weight: 500;
    font-size: 20px;
}

.advantage__article-button{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #E0E0E0;
}

.advantage__article-arrow{
    margin-left: 15px;
    transition: transform 0.35s;
}

.advantage__article-button:hover .advantage__article-arrow{
    transform: rotate(180deg);
}

@media (max-width: 600px){
    .advantage__boxes{
        flex-direction: column;
        width: 100%;
    }

    .advantage__box{
        margin: 0 0 20px 0;
    }

    .advantage__box:last-child{
        margin-bottom: 80px;
    }
}

@media (max-width: 800px){
    .advantage__boxes{
        flex-direction: column;
        width: 100%;
    }

    .advantage__box{
        margin: 0 0 20px 0;
    }

    .advantage__box:last-child{
        margin-bottom: 80px;
    }
}