.cactus__boxes{
    display: flex;
    margin-bottom: 80px;
}

.cactus__box{
    margin-right: 20px;
    text-align: center;
}

.cactus__box:last-child{
    margin-right: 0;
}

.cactus__box-img{
    margin-bottom: 16px;
    transition: transform .35s;
    transform: scale(1);
}

.cactus__box-img:hover{
    transform: scale(1.1);
}

.cactus__box-name{
    font-size: 16px;
    margin-bottom: 8px;
}

.cactus__box-text{
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 600px){
    .cactus__boxes{
        flex-direction: column;
    }

    .cactus__box{
        margin: 0 0 20px 0;
    }
}

@media (max-width: 800px){
    .cactus__boxes{
        flex-wrap: wrap;
    }

    .cactus__box{
        margin: 0 20px 20px 0;
    }
}