.footer{
    padding-top: 60px;
    padding-bottom: 70px;
    border-top: 1px solid #E5E5E5;
}

.footer__wrapper{
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 150px;
}

.footer__boxes{
    display: flex;
}

.footer__box{
    margin-right: 80px;
}

.footer__box:last-child{
    margin-right: 0;
}

.footer__box-main-title{
    font-weight: 500;
    font-size: 24px;
    color: #156963;
    margin-bottom: 24px;
}

.footer__box-title{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__box-address{
    font-size: 13px;
    color: #4F4F4F;
    max-width: 282px
}

.footer__box-text{
    font-size: 14px;
    margin-bottom: 14px;
}

.footer__box-input{
    margin-bottom: 14px;
}

.footer__box-button-info{
    padding: 4px 12px;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    background-color: #156963;
    color: #ffff;
    border-radius: 2px;
}

.footer__box-button-info:hover{
    background-color: #ffff;
    color: #156963;
    border: 1px solid #156963;
}

@media (max-width: 600px){
    .footer__wrapper{
        padding: 0 56px;
    }

    .footer__boxes{
        flex-direction: column;
    }

    .footer__box{
        margin: 0 0 30px 0;
    }

    .footer__box:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 800px){
    .footer__wrapper{
        padding: 0 56px;
    }
}