.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list{
    display: flex;
    flex-wrap: wrap;
}

.header__nav-list-icon {
    display: flex;
    margin-right: 40px;
}

.header__nav-list-icon .header__nav-item:first-child{
    margin-right: 20px;
}

.header__nav-list-btn {
    display: flex;
}

@media (max-width: 600px){
    .header{
        position: static;
    }

    .header__wrapper{
        align-items: unset;
        justify-content: unset;
    }

    .header__nav-list-icon {
        margin-left: 20px;
    }

    .header__nav-list-btn{
        display: flex;
        flex-direction: column;
    }

    .header__nav-item, .header__item-menu:first-child {
        margin-bottom: 15px;
    }
}