.home-page{
    display: flex;
    margin-bottom: 140px;
}

.home-page__info{
    margin: 70px 0 0 77px;
}

.home-page__img{
    margin-top: -125px;
    margin-left: -120px;
    width: 50%;
    object-fit: cover;
}

.home-page__item{
    padding-right: 56px;
    margin-bottom: 110px;
}

.home-page__item-title{
    font-weight: 500;
    font-size: 68px;
    color: #156963;
    line-height: 83px;
    margin-bottom: 24px;
}

.home-page__item-text{
    font-size: 18px;
    line-height: 32px;
    color: #2C1500;
}

.home-page__buttons{
    display: flex;
}

.home-page__button{
    color: #156963;
    padding: 39px 49px;
}

.home-page__button:hover{
    background-color: #156963;
    color: #fff;
}

.home-page__button-link{
    font-size: 24px;
    color: #333333;
    margin-bottom: 13px;
}

.icn-arrow-left{
    margin-right: 13px;
}

.icn-arrow-right{
    margin-left: 13px;
}

.home-page__button-text{
    font-size: 32px;
}

@media (max-width: 420px){
    .home-page__item-title{
        font-size: 40px;
    }
}

@media (max-width: 600px){
    .home-page{
        flex-direction: column;
        width: 100%;
    }

    .home-page__info{
        margin: 56px 0 0 56px;
    }

    .home-page__img{
        display: none;
    }

    .home-page__buttons{
        flex-direction: column;
    }
}

@media (max-width: 800px){
    .home-page__img{
        display: none;
    }
}