.plants{
    margin-bottom: 80px;
}

.plants__box{
    display: grid;
    grid-template-areas: "content vertical"
                         "horizon vertical";
    grid-row-gap: 74px;
    grid-column-gap: 84px;
}

.plants__content{
    grid-area: content;
}

.plants__img-vertical{
    grid-area: vertical;
}

.plants__img-horizon{
    grid-area: horizon;
}

.plants__content-title{
    font-size: 40px;
    font-weight: 700;
    color: #2C1500;
    margin-bottom: 16px;
}

.plants__content-text{
    font-size: 16px;
    color: #2C1500;
}

.plants__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px){
    .plants__img-vertical{
        display: none;
    }
    
    .plants__box{
        grid-template-areas:"content"
                            "horizon";
        grid-column-gap: 0px;
    }
}